<div class="bg">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <h1>{{file?.currentDateTime | date :'H:MM'}}<sup>PM</sup></h1>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h2>{{file?.currentDateTime | date:'d MMMM yyyy'}}</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p>Your local weather</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h5>West chester, PA 18960</h5>
                </div>
            </div>
            <div class="row bottom">
                <div class="col-12">
                    <p>you can edit this text. this text here is editable. You can change this text. you can replace this text</p>
                </div>
            </div>
        </div>
    </div>
</div>>